# Ejecutables
*.exe
*.out
*.o

# Archivos de compilación
*.obj
*.pdb

# Visual Studio
.vs/
*.suo
*.user

# macOS
.DS_Store

# Thumbs
Thumbs.db
build/
cmake-build-debug/
cmake-build-release/
*.exe

# IDE (CLion / IntelliJ)
.idea/

# Datos generados en runtime por el programa (likes / ver mas tarde)
user_data/
